.image--not-loaded {
  // fix ios 缺少重绘的问题，添加无意义的transform强制触发重绘

  transform: scale(1);
  filter: blur(30px);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
  border-radius: 6PX;
}

.image--is-loaded {
  // fix ios 缺少重绘的问题，添加无意义的transform强制触发重绘
  transform: scale(1);
  filter: blur(20px);
  animation: sharpen 0.8s both;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
  border-radius: 6PX;
}

@keyframes sharpen {
  0% {
    filter: blur(20px);
  }

  100% {
    filter: blur(0px);
  }
}
